<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-header bg-info text-white">
      ユーザー一覧
    </div>
    <div class="card-body">
      <table class="table">
          <tr>
            <td>ユーザー名</td>
            <td class="text-left">
              <%= @user.name %>
            </td>
          </tr>
          <tr>
            <td>
              紹介動画
            </td>
            <td class="text-left">
              <%= video_tag(url_for(@user.movie), :controls => true, size: "800x400") %>
            </td>
          </tr>
      </table>
    </div>
    <div class="card-footer text-center">
      <%= link_to '編集', edit_user_path(@user) %> |
      <%= link_to '戻る', users_path %>
    </div>
  </div>
</div>


